
/* Ipad Screen Landscape */
@media screen and (max-width: 1400px) {
   
    #desktop-nav {
        gap: 10rem;
    }
   
    #profile {
        margin-bottom: 6rem;
        padding-left: 3rem;
        padding-right: 3rem;
        gap: 3rem;
    }
    
    .intro-container {
        width: 600px;
        padding-inline: 25px;
        justify-content: center;
    }


    .aboutcontainers {
        flex-wrap: wrap;
    }


    .master-project-container{
        margin-left: 4rem;
    }

    .personal-identity-text-container {
        padding-inline: 2rem;
    }


    .professional-identity-container-text {
        padding-inline: 2rem;
    }


    .vision-container-text {
        padding-inline: 2rem;
    }



    .expertise-container-text {
        padding-inline: 4rem;
    }

    .expertise-container-pic {
        display: flex;
        justify-content: center;
        width: 99vw;
    }

    .expertise-container-pic img {
        width: 60vw;
    }
    
    .expertise2-container-text {
        padding-inline: 4rem;
    }



    footer {
        padding-inline: 10rem;
        padding-bottom: 14rem;
    }

}


/* Ipad Screen Portrait */
@media screen and (max-width: 850px) {
    
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;

    }

    #PersonalIdentity, 
    .about-personal-container {
        margin-top: 2rem;
    }

    #profile, 
    .section-container {
       display: block; 
    }

    .intro-container {
        width: auto;
        padding-inline: 25px;
        justify-content: center;
    }

    .master-project-container{
        margin-left: 12rem;
    }


    .arrow { 
        display: none;
    }

    .arrow2 { 
        display: none;
    }

    section, 
    .section-container{
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }

    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-containers {
        margin-top: 0;
    }
}


/* Phone Screen */
@media screen and (max-width: 600px) { 
    
    
    #profile {
        height: 83vh;
        margin-bottom: 0;
    }

    .master-project-container{
        margin-left: 0rem;
    }

    #PersonalIdentity, 
    #ProfessionalIdentity,
    #Past-Present-Future, 
    #Vision,
    #Expertise {
        height: auto;
        margin-bottom: 0;
    }

    article {
        font-size: 1rem;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    
    .about-containers, 
    .contact-info-upper-container,
    .intro-container, 
    .btn-container { 
        flex-wrap: wrap;
        width: auto;
    }

    .contact-info-container {
        margin: 0;
    }
    
    .contact-info-container p, 
    .nav-links li a {
        font-size: 1rem;
    }
    
    .experience-sub title {
        font-size: 1.25rem;
    }
    
    .logo{
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section__pic-container {
        justify-content: center;
    }

    .section__text__p2 {
        font-size: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }

    .text-container {
        text-align: justify;
    }

    .personal-container-pic img {
        display: flex;
        flex-wrap: wrap; 
    }

    section, 
    .section-container{
        height: fit-content;
    }


    #hamburger-nav {
        display: flex;
    }


    .intro-container {
        width: auto;
        padding-inline: 6px;
        justify-content: center;
    }

    
    .personal-identity-text-container {
        width: auto;
        padding-inline: 0;
        justify-content: center;
    }


    .professional-identity-container-text {
        width: auto;
        padding-inline: 0;
        justify-content: center;
    }


    #Past-Present-Future, 
    .about-containers {
       display: block; 
    }

    .past-present-future-container-text {
        width: auto;
        padding-inline: 0;
        justify-content: center;
    }

    .past-present-future-container-pic {
        padding: 0;
        margin: 0;
        align-content: center;
    }

    .past-present-future-container-pic img{
        width: 80vw;
        padding: 0;
        margin: 2rem;
        align-content: center;
    }


    .vision-container-text {
        width: auto;
        padding-inline: 0;
        justify-content: center;
    }


    .expertise-container-pic {
        width: auto;
        margin: 0;
    }

    .expertise-container-pic img{
        width: 80vw;
        padding: 0;
        margin: 1rem;
        align-content: center;
    }

    .expertise-container-text {
        padding-inline: 2rem;
    }

    .expertise2-container-text {
        width: auto;
        padding-top: 2rem;
        padding-inline: 25px;
        justify-content: center;
    }

    #Projects {
        height: fit-content;
        margin-bottom: 0;
    }


    #contact{
        height: 40vh;
    }

    footer {
        height: 24vh;
        padding-inline: 1rem;
    }

}
    
