



@media screen and (max-width: 1400px) {
   
    #profile {
    height: 83vh;
    margin-bottom: 6rem;
    }
    
    .aboutcontainers {
    flex-wrap: wrap;
    }

}


@media screen and (max-width: 1200px) {
    
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;

    }

    #PersonalIdentity, 
    .about-personal-container {
        margin-top: 2rem;
    }

    #profile, 
    .section-container {
       display: block; 
    }

    .arrow { 
        display: none;
    }

    .arrow2 { 
        display: none;
    }

    section, 
    .section-container{
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }

    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-containers {
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {
    
    #contact, footer {
        height: 40vh;
    }
    
    #profile {
        height: 83vh;
        margin-bottom: 0;
    }

    #PersonalIdentity, 
    #ProfessionalIdentity,
    #Past-Present-Future, 
    #Vision,
    #Expertise,
    #Projects {
        height: auto;
        margin-bottom: 0;
    }

    article {
        font-size: 1rem;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    
    .about-containers, 
    .contact-info-upper-container,
    .intro-container, 
    .btn-container { 
        flex-wrap: wrap;
        width: auto;
    }

    .contact-info-container {
        margin: 0;
    }
    
    .contact-info-container p, 
    .nav-links li a {
        font-size: 1rem;
    }
    
    .experience-sub title {
        font-size: 1.25rem;
    }
    
    .logo{
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section__pic-container {
        width: auto;
        height: 99vw;
        justify-content: center;
    }

    .section__text__p2 {
        font-size: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }

    .text-container {
        text-align: justify;
    }

    .personal-container-pic img {
        display: flex;
        flex-wrap: wrap; 
    }

    section, 
    .section-container{
        height: fit-content;
    }







    #hamburger-nav {
        display: flex;
        gap: 0;
    }


    .intro-container {
        width: auto;
        padding-inline: 25px;
        justify-content: center;
    }

    
    .personal-identity-text-container {
        width: auto;
        padding-inline: 0;
        justify-content: center;
    }


    .professional-identity-container-text {
        width: auto;
        padding-inline: 0;
        justify-content: center;
    }


    #Past-Present-Future, 
    .about-containers {
       display: block; 
    }

    .past-present-future-container-text {
        width: auto;
        padding-inline: 0;
        justify-content: center;
    }

    .past-present-future-container-pic img{
        width: 80vw;
        padding: 0;
        margin: 0;
        justify-content: center;
    }


    .vision-container-text {
        width: auto;
        padding-inline: 0;
        justify-content: center;
    }


    .expertise-container-pic img{
        width: 80vw;
        padding: 0;
        margin: 0;
        justify-content: center;
    }

    .expertise2-container-text {
        width: auto;
        padding-inline: 25px;
        justify-content: center;
    }




}
    